.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(228 222 222);
}

.step__form {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step__payment {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step__success .MuiSvgIcon-root {
  font-size: 140px;
}
